<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="Presentacion.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
		</sectionGroup>
		<!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
		<section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
	</configSections>
	<entityFramework>
		<defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
			<parameters>
				<parameter value="mssqllocaldb" />
			</parameters>
		</defaultConnectionFactory>
		<providers>
			<provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
		</providers>
	</entityFramework>
	<connectionStrings>
		<!--=========================================================================== SERVER MANZANARES =======================================================================================================================================-->
		<!--<add name="Entities" connectionString="metadata=res://*/Modelo.csdl|res://*/Modelo.ssdl|res://*/Modelo.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.1.215;initial catalog=SAFNISA_LITE_MANZANARES;persist security info=True;user id=sa;password=Solaris1981;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
		<!--=============================================================================================================================================================================================================================-->
		<!--=============================================================================================================================================================================================================================-->
		<!--=========================================================================== SERVER MANZANARES DOLAR =======================================================================================================================================-->
		<!--<add name="Entities" connectionString="metadata=res://*/Modelo.csdl|res://*/Modelo.ssdl|res://*/Modelo.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.1.215;initial catalog=SAFNISA_LITE_MANZANARES_DOLAR;persist security info=True;user id=sa;password=Solaris1981;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
		<!--=============================================================================================================================================================================================================================-->
		<!--=========================================================================== SERVER MANZANARES CORDOBA =======================================================================================================================================-->
		<!--<add name="Entities" connectionString="metadata=res://*/Modelo.csdl|res://*/Modelo.ssdl|res://*/Modelo.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.1.215;initial catalog=SAFNISA_LITE_MANZANARES_CORDOBA;persist security info=True;user id=sa;password=Solaris1981;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
		<!--=============================================================================================================================================================================================================================-->
		<!--=======================================================================PUESTO DE MANDO=======================================================================================================================================-->
		<!--<add name="Entities" connectionString="metadata=res://*/Modelo.csdl|res://*/Modelo.ssdl|res://*/Modelo.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.0.240;initial catalog=SAFNISA_LITE_INFINITY;persist security info=True;user id=sa;password=Solaris9797;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
		<!--=============================================================================================================================================================================================================================-->
		<!--===========================================================================SCOTT=======================================================================================================================================-->
		<!--<add name="Entities" connectionString="metadata=res://*/Modelo.csdl|res://*/Modelo.ssdl|res://*/Modelo.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-DU2UC01\SQLEXPRESS;initial catalog=SAFNISA_LITE;persist security info=True;user id=sa;password=Solaris1981;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
		<!--<add name="Entities" connectionString="metadata=res://*/Modelo.csdl|res://*/Modelo.ssdl|res://*/Modelo.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=SCOTTPC\SCOTTPC;initial catalog=SAFNISA_LITE;persist security info=True;user id=sa;password=Solaris9797;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
		<!--<add name="Entities" connectionString="metadata=res://*/Modelo.csdl|res://*/Modelo.ssdl|res://*/Modelo.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=SCOTTPC\SCOTTPC;initial catalog=SAFNISA_LITE_INCOCASA;persist security info=True;user id=sa;password=Solaris9797;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
		<!--=============================================================================================================================================================================================================================-->
		<!--===========================================================================JASSON=======================================================================================================================================-->
		<!--<add name="Entities" connectionString="metadata=res://*/Modelo.csdl|res://*/Modelo.ssdl|res://*/Modelo.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.250.30.19;initial catalog=SAF_LITE_MANZANARES_LOCAL;persist security info=True;user id=sa;password=Solaris9090;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
		<!--<add name="Entities" connectionString="metadata=res://*/Modelo.csdl|res://*/Modelo.ssdl|res://*/Modelo.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.2.205;initial catalog=SAF_LITE_MANZANARES_LOCAL;persist security info=True;user id=sa;password=Solaris9090;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
		<add name="Entities" connectionString="metadata=res://*/Modelo.csdl|res://*/Modelo.ssdl|res://*/Modelo.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.0.0.1;initial catalog=SAFNISA_LITE_MANZANARES;persist security info=True;user id=sa;password=Solaris9090;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
		<!--=============================================================================================================================================================================================================================-->
		<!--===========================================================================DOUGLAS=======================================================================================================================================-->
		<!--<add name="Entities" connectionString="metadata=res://*/Modelo.csdl|res://*/Modelo.ssdl|res://*/Modelo.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.2.206;initial catalog=SAFNISA_LITE_MANZANARES;persist security info=True;user id=sa;password=Solaris9090;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
	</connectionStrings>
	<userSettings>
		<Presentacion.Properties.Settings>
			<setting name="ProyectoSkin" serializeAs="String">
				<value>DevExpress Style</value>
			</setting>
			<setting name="Impresora_Voucher" serializeAs="String">
				<value />
			</setting>
			<setting name="Bodega_Venta" serializeAs="String">
				<value>TIENDA</value>
			</setting>
		</Presentacion.Properties.Settings>
	</userSettings>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="System.Numerics.Vectors" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.1.4.0" newVersion="4.1.4.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>